{% extends "base.twig" %}

{% block title %}{{ title|default('My Website') }}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/css/test.css">
{% endblock %}

{% block content %}
<div class="container text-center mt-5">
  <h1 class="main-title">Welcome to My Twig Website</h1>
  <p>This is a test of the Tina4 Ruby routing and Twig template rendering.</p>
</div>
{% endblock %}
